.DS_Store
*.txt
*.jpg
*.png
*.jpeg
*.pt
*.log
*.onnx
*.out
*.yaml
*.json
*.ipynb
*.csv
*.zip
*.yaml
.env
!assets/images/images(6).png
!assets/images/sinya-1706871806.png
!assets/sweep.yaml
!assets/flowcharts/site_safety_monitor_en.png
!assets/flowcharts/site_safety_monitor_zh.png
# examples
!examples/YOLOv8-Fine-Tune/dataset/**
!examples/Stream-Web/
!models/yolov8n.pt
!models/best_yolov8n.pt
test.py
__pycache__
**/logs
!assets/images/**
configuration.json
app copy.py
!models/pt/best_yolo11x.pt
!models/pt/best_yolo11l.pt
!models/pt/best_yolo11m.pt
!models/pt/best_yolo11s.pt
!models/pt/best_yolo11n.pt
examples/streaming_web/frontend/node_modules/**
examples/streaming_web/frontend/dist/**
!examples/streaming_web/frontend/package.json

.history
.history/**
.history/**/*
