.DS_Store
*.txt
*.jpg
*.png
*.jpeg
*.yaml
*.pt
*.log
/.env
!assets/images/images(6).png
!assets/images/sinya-1706871806.png
!assets/sweep.yaml
!assets/flowcharts/site_safety_monitor_en.png
!assets/flowcharts/site_safety_monitor_zh.png
!examples/YOLOv8-Fine-Tune/dataset/**
!models/yolov8n.pt
!models/best_yolov8n.pt
test.py
__pycache__
**/logs
!assets/images/**