<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ label | e }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/label.js') }}"></script>
</head>
<body>
    <h1>{{ label | e }}</h1>
    <div class="camera-grid">
        {% for image, image_name in image_data %}
        <div class="camera">
            <h2>{{ image_name | e }}</h2>
            <img src="data:image/png;base64,{{ image | e }}" alt="{{ label | e }} image">
        </div>
        {% endfor %}
    </div>
</body>
</html>
