<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ camera_id }}</title>
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/camera.js') }}"></script>
</head>
<body>
<h1>{{ camera_id }}</h1>
<img id="camera-image" src="/image/{{ camera_id }}" alt="{{ camera_id }}">
</body>
</html>
